
.wrap{
    background-color: burlywood;
    color: brown;
    height: 100px;
    width: 100px;

}.collapse{

    color: #32a52a;


}.alpha{

    color: #615959;
    font-size: 32px;

}
 .beta{

    color: #2e2aa5;
     height: 300px;
     width: 500px;

}

